* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Outfit', sans-serif;
}

body {
    font-size: 18px;
    font-family: "Outfit", sans-serif;
    background-color: #0d1a2d;
}

main {
    min-height: 100vh;
    width: 100%;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 350px;
    padding: 20px;
    border-radius: 20px;

    background-color: #14273e;

    display: flex;
    flex-direction: column;
    gap: 20px
}

.card-img {
    height: 350px;
    width: 100%;
    border-radius: 15px;
    
    background: url('./images/image-equilibrium.jpg') no-repeat center center/cover;
    /* overflow: hidden; */
}

.card-img img {
    width: 100%;
}

.card-title {
    color: hsl(0, 0%, 100%);
}

.card-details {
    color: hsl(0, 0%, 100%);
    opacity: 0.6;
    font-weight: 300;
    
    line-height: 1.3;
    font-size: 18px;
}


.card-cost {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-cost .price {
    display: flex;
    align-items: center;
    gap: 5px;

    color: #00fffc;
    font-size: 15px;
    font-weight: 600;
}

.card-cost .days-left {
    display: flex;
    align-items: center;
    gap: 5px;

    color: #8bacd9;
    font-size: 15px;
}

.seperate-line {
    width: 100%;
    height: 1px;

    opacity: 0.3;
    
    background-color: #fff;
}

.card-avatar {

    display: flex;
    align-items: center;
    color: #fff;
    
}

.card-avatar img {
    width: 35px;
    margin-right: 10px;
    border-radius: 50%; 
    border: 1px solid hsl(0, 0%, 100%);
}


.card-avatar span {
    opacity: 0.5;
    margin-right: 5px;
}